<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">Inicio de Sesión</mat-card-title>
      <mat-card-subtitle>Sistema Taller Mecánico</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          <mat-icon>error</mat-icon>
          <span>{{ errorMessage }}</span>
        </div>
        <button mat-flat-button color="primary" class="custom-login-button">
          Iniciar sesión
        </button>        
      </form>
    </mat-card-content>
  </mat-card>
</div>
